<div
  class="hero min-h-screen"
  style="background-image: url('');">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-4xl font-bold">美は一日にしてならず</h1>
      <p class="mb-5">
        日々の積み重ねで美を磨こう！
      </p>
      <button class="btn btn-primary">投稿一覧へ</button>
    </div>
  </div>
</div>