<div class="container mx-auto pt-10 px-4">
  <!-- 検索フォーム -->
  <div class="max-w-4xl mx-auto mb-8">
  <%= render 'search_form', q: @q, url: bookmarks_posts_path %>
  </div>
  <h1 class="text-1xl">これやる！リスト</h1>
  <!-- ブックマーク一覧 -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <% if @bookmark_posts.present? %>
        <%= render @bookmark_posts %>
      </div>
    <% else %>
      <p class="text-gray-500 text-center">これやる！リストに追加した投稿はありません</p>
    <% end %>
  </div>
</div>
