<div class="container mx-auto pt-8">
  <div class="mb-6">
    <!-- 検索フォーム -->
  <%= render 'search_form', q: @q, url: posts_path %>
  </div>

  <!-- 投稿一覧 -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <% if @posts.present? %>
    <%= render @posts %>
    <% else %>
        <div>
          <i class="bi bi-exclamation-circle"></i>
          投稿はありません
      </div>
    <% end %>
  </div>
</div>
